version: '3'
services:
  terraform-container:
    build:
      dockerfile: Dockerfile
    env_file:
      - .env # Specify the path to your .env file
    volumes:
      - .:/app # Mount the current directory into /app in the container
    tty: true # Allocate a pseudo-TTY for an interactive shell
    entrypoint: [ "/bin/sh", "-c" ]
    command: /bin/sh # Specify the shell as the command
